@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Margarine&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sue+Ellen+Francisco&display=swap');

*{
padding: 0;
margin: 0;
}
body {
    background-image: url('bg2.avif');
    width:100%;
    height: 733px;
    background-repeat: no-repeat;
    font-family: "Amatic SC", sans-serif;
    background-size: cover;
    justify-content:center;
}

nav{
    background-color:rgb(0, 0, 0);
    color:rgb(255, 255, 255);
    height:40px;
    padding: 10px;
    display:flex;
    align-items: center;
    font-size: 26px;
}

h3{
    color:rgb(193, 148, 255);
}

.gameContainer{
    display:flex;
    justify-content:center;
    margin-top:50px;
    color:greenyellow;
}

.container{
    display:grid;
    grid-template-columns:repeat(3,10vw);
    grid-template-rows:repeat(3,10vw);
    font-family: "Margarine", sans-serif;
    position: relative;
}

.box{
    border:2px solid white;
    font-size: 8vw;
    cursor:pointer;
    display:flex;
    justify-content:center;
    align-items:center;
}

.box:hover{
    background-color: rgb(193, 148, 255) ;
    color:black;
}

.gameInfo{
    padding:0 54px;
    font-size: 28px;
}

.gameInfo h1{
    font-size: 2.5rem;
}

.info{
    font-size: 37xpx;
    font-weight: bold;
    COLOR:WHITE;
}

.img-box img{
    opacity: 0;
    transition: opacity 0.5s ease;
    height:200px;
    width:200px;
    margin-top:20px;
    border-radius: 5px;
}

.img-box img.visible {
    opacity: 1;
}

.bt-0{
    border-top:0;
}

.bb-0{
    border-bottom:0;
}

.bl-0{
    border-left:0;
}

.br-0{
    border-right:0;
}

#reset{
    margin: 0 22px;
    padding: 7px 15px;
    background: #b481d1;
    border-radius: 20px;
    cursor: pointer; 
    font-family: "Sue Ellen Francisco", cursive;
    font-size:20px;
    width:80px;
    font-weight:bolder;
}

@media screen and (max-width: 900px){
    .gameContainer{
        flex-wrap:wrap;
    }
    .gameInfo{
        margin-top:34px;
    }
    .gameInfo h1{
        font-size:1.5rem
    }
    .container{
        display:grid;
        grid-template-columns: repeat(3,20vw);
        grid-template-rows: repeat(3,20vw);
    }
}

.line{
    background-color: rgb(245, 56, 56);
    height:3px;
    width:0;
    transition:width 1s ease-in-out;
    position:absolute;
}
